fastapi==0.103.2
uvicorn[standard]
pydantic-settings
black
flake8
isort
sqlalchemy
alembic
mysqlclient
openai
python-dotenv==0.19.2
google-api-python-client==2.33.0
google-auth-httplib2
google-auth-oauthlib
datetime
