fastapi
uvicorn
pydantic-settings
black
flake8
isort
sqlalchemy
alembic
mysqlclient
openai
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
datetime
jinja2
python-multipart
mypy
passlib
email-validator
