fastapi==0.110.0
uvicorn==0.27.1
pydantic-settings==2.*
black==24.*
flake8==7.*
isort==5.*
sqlalchemy==2.*
alembic==1.*
mysqlclient==2.*
openai==1.*
python-dotenv==1.*
google-api-python-client==2.*
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.*
datetime==5.*
jinja2==3.*
python-multipart==0.0.9
mypy==1.*
passlib==1.*
email-validator==2.*
