<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h2>비밀번호 초기화</h2>
    <form action="/reset_passowrd/submit" method="POST">
        <label for="name">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="passowrd">new password:</label><br>
        <input type="text" id="new_password" name="new_password" required><br>
        <button type="submit">제출</button>
    </form>
</body>
</html>
